{% extends "base.html" %}

{% block content %}
<style>
    body {
        background: linear-gradient(to right, #e27d5f, #e8d5b7);
        color: #FFFFFF; 
    }

</style>
<div id="book-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for book in books %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <div class="text-center">
                <h2>{{ book.title }}</h2>
                <p><strong>Author:</strong> {{ book.authorName }}</p>
                <p><strong>Published Date:</strong> {{ book.formattedPublishedDate }}</p>
                <p><strong>Genre:</strong> {{ book.genreName }}</p>
                <p><strong>Description:</strong> {{ book.description }}</p>
                <a href="/books/{{ book.book_id }}">
                    <img class="cover-image" src="{{ book.cover_image_url }}" alt="Book Cover">
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#book-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#book-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>   
{% endblock %}
