{% extends 'base.html' %}

{% block title %}{{ books.title }}{% endblock %}

{% block content %}
    <div class="text-center">
        <style>
            /* Specific styles for book_detail.html */
            body {
                font-family: Arial, sans-serif;
                padding: 20px;
            }

            .cover-image {
                max-width: 200px;
                max-height: 300px;
                margin: 0 auto;
            }

            .like-button {
                cursor: pointer;
                text-decoration: none; 
                color: white;
                background-color: #ff5733; /* Specific color for book_detail.html */
                border: 1px solid #ff5733; /* Specific color for book_detail.html */
                padding: 8px 16px;
                border-radius: 4px;
                display: inline-block;
            }

            .like-button:hover {
                color: red;
            }
        </style>

        <h2>{{ books.title }}</h2>
        <p><strong>Author:</strong> {{ books.authorName }}</p>
        <p><strong>Published Date:</strong> {{ books.formattedPublishedDate }}</p>
        <p><strong>Genre:</strong> {{ books.genreName }}</p>
        <p><strong>Description:</strong> {{ books.description }}</p>
        <img class="cover-image" src="{{ books.cover_image_url }}" alt="Book Cover">

        <a href="/likeBook/{{books.book_id}}" class="like-button">
            <span>&#x2661;</span> 
            Like
        </a>
    </div>
{% endblock %}
